<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<em>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em>
			{% include "components/nav.njk" %}
		</header>
		{% if ( post ) %}
			<img class="post-hero" src="{{ coverImage }}" alt="Hero image for {{ title }}" />
		{% endif %}
		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
